[Unit]
Description=hivemind census
ConditionHost=vampires

[Service]
Type=oneshot
ExecStart=/usr/bin/timeout 4m /home/h/hk/hkn/hivemind/backend/run_census > /dev/null
