[Unit]
Description=hivemind census
ConditionHost=vampires

[Service]
Type=oneshot
ExecStart=/home/h/hk/hkn/hivemind/backend/run_census > /dev/null
TimeoutSec=5m
